 
 <header id="header" class="{{headerTop}}">
    <div class="container">

      <h1><a href="index.html">Fabrice Berthet</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
      <h2>I'm a software developer<span></span> from Rennes</h2>

      <nav id="navbar" class="navbar {{navbarStatut}}">
        <ul>
          <li><a class="nav-link {{sections[0].cssStatut}}" routerLink="/" (click)="onClick('home')">Home</a></li> 
          <!-- <li><a class="nav-link" href="#about">About</a></li>
          <li><a class="nav-link" href="#resume">Resume</a></li>
          <li><a class="nav-link" href="#services">Services</a></li> -->
          <li><a class="nav-link {{sections[1].cssStatut}}" routerLink="portfolio" (click)="onClick('portfolio')">Portfolio</a></li>
          <li><a class="nav-link {{sections[2].cssStatut}}" routerLink="contact" (click)="onClick('contact')">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle" (click)="toggleNav()"></i>
      </nav>
      

      <div class="social-links">
        <a href="https://github.com/faberthet" target="_blank" class="twitter"><fa-icon [icon]="faGithub"></fa-icon></a>
        <a class="linkedin"><i class="bi bi-linkedin"></i></a>
        <!-- <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
         -->
      </div>

    </div>
    
  </header>