<nav id="navbar" class="navbar">
    <ul>
      <li><a class="nav-link active" (click)="navToMiddle()" href="#header">Home</a></li> 
      <li><a class="nav-link" (click)="navToTop()" href="#about">About</a></li>
      <li><a class="nav-link" (click)="navToTop()" href="#resume">Resume</a></li>
      <li><a class="nav-link" (click)="navToTop()" href="#services">Services</a></li>
      <li><a class="nav-link" (click)="navToTop()" href="#portfolio">Portfolio</a></li>
      <li><a class="nav-link" (click)="navToTop()" href="#contact">Contact</a></li>
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
  </nav>